<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
    <div class="container">
      <%= react_component('Header', {}) %>
      <%= yield %>
      <%= react_component('Footer', {
        year: "2018", 
        name: "Deven Clingman", 
        rights_reserved: "All rights reserved"}) %>
    </div>
  </body>
</html>
